$navbar-height: 4rem;
$side-width: 15%;
body {
  padding-top: $navbar-height;
}

.container {
  width: 80%;
}

.main {
}

.aside {
  width: $side-width;
}

.navbar {
  height: $navbar-height;
  line-height: $navbar-height;
  &-item {
    height: $navbar-height;
    line-height: $navbar-height;
  }
}

.article-list-item {
  display: block;
  width: 100%;
}