$navbar-height: 3.6rem;
body {
	padding-top: $navbar-height;
}

.container {
	width: 95%;
}

.main {
}

.aside-container {
}

.navbar {
	height: $navbar-height;
	line-height: $navbar-height;

	&-item {
		height: $navbar-height;
	}
}
