$navbar-height: 3.4rem;
body {
	padding-top: $navbar-height;
}

.container {
	width: 98%;
}

.main {
}

.aside-container {
}

.block {
	padding: 1rem;
}

.navbar {
	height: $navbar-height;
	line-height: $navbar-height;

	&-item {
		height: $navbar-height;
		line-height: $navbar-height;
	}
}
